{
  "plugins": ["prettier"],
  "extends": ["react-app", "prettier"],
  "rules": {
    "react/jsx-key": 2,
    "arrow-body-style": 1,
    "import/no-duplicates": 1,
    "react/self-closing-comp": 1,
    "import/no-useless-path-segments": 1,
    "import/no-extraneous-dependencies": 0,
    "object-curly-spacing": [1, "always"],
    "prefer-destructuring": [
      1,
      {
        "object": true,
        "array": false
      }
    ]
  }
}
